<!DOCTYPE html>
<html>
<head>
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<form action="/register" method="post" class="basic-grey">
    <h1>注册<span>输入用户名密码来注册</span></h1>
    <label>
        <span>Your Name :</span>
        <input type="text" name="name" placeholder="用户名">
    </label>
    <br>
    <label>
        <span>Your Password :</span>
        <input type="password" name="pass" placeholder="密码">
    </label>
    <br>
    <label>
        <span>Repeat Password :</span>
        <input type="password" name="repass" placeholder="再次输入密码">
    </label>
    <br>
    <label>
        <span>&nbsp;</span>
        <button type="submit" name="" class="button">注册</button>
    </label>

</form>
</body>
</html>